<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.td.myblog.myblog.dao.UserMapper">

  <select id="selectByAge" resultType="com.td.myblog.myblog.entity.User">
   SELECT
    id,
    NAME,
    age,
    money
    FROM
      `user`
    WHERE
      age =#{age}
  </select>

</mapper>
